* {
    box-sizing: border-box;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: block;

    padding: 1rem 0;
    border: 1px solid red;
}

.nav-list {


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav-item {
    display: inline;
    margin-right: 1rem;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(195deg, #0b3b2a, #111c1d);
}

.home-item {
    color: white;
    margin-bottom: 0;
    font-size: 4rem;
}

.home-item-p {
    color: white;
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

.home-item-span {
    color: #00ff88;
}


.home-button {
    background-color: transparent;
    color: #c4c8ce;
    border: 1px solid #00ff88;
    padding: 1rem 2rem;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}